In [12]:
import FinanceDataReader as fdr
import pandas as pd
from datetime import datetime

# 상장 + 폐지 기업 데이터

In [74]:
# 기업 데이터 저장
stocks = fdr.StockListing('KRX')
krx_delisting = fdr.StockListing('KRX-DELISTING')

In [75]:
# ETF, 콜풋 등 제거 필요
stocks.info()
krx_delisting.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7307 entries, 0 to 7306
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          7307 non-null   object
 1   Market          7307 non-null   object
 2   Name            7307 non-null   object
 3   Sector          2500 non-null   object
 4   Industry        2483 non-null   object
 5   ListingDate     2500 non-null   datetime64[ns]
 6   SettleMonth     2500 non-null   object
 7   Representative  2500 non-null   object
 8   HomePage        2347 non-null   object
 9   Region          2500 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 627.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3384 entries, 0 to 3383
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Symbol             3384 non-null   object
 1   Name               3384 non-null   object
 2   Market             3384 non-null   object
 3   SecuGroup          3384 non-null   object
 4   Kind               3384 non-null   object
 5   ListingDate        3384 non-null   datetime64[ns]
 6   DelistingDate      3384 non-null   datetime64[ns]
 7   Reason             3384 non-null   object
 8   ArrantEnforceDate  1001 non-null   datetime64[ns]
 9   ArrantEndDate      1001 non-null   datetime64[ns]
 10  Industry           3384 non-null   object
 11  ParValue           3153 non-null   float64
 12  ListingShares      3336 non-null   float64
 13  ToSymbol           3384 non-null   object
 14  ToName             3384 non-null   object
dtypes: datetime64[ns](4), float64(2), object(9)
memory usage: 396.7+ KB

In [76]:
# 우선주 추출
prefer = stocks.loc[stocks.Name.str.contains(r'우$')]
prefer

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
57,001465,KOSPI,BYC우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
66,011155,KOSPI,CJ씨푸드1우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
67,001045,KOSPI,CJ우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
69,097955,KOSPI,CJ제일제당 우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
84,000995,KOSPI,DB하이텍1우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7203,000725,KOSPI,현대건설우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7218,004565,KOSPI,현대비앤지스틸우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7238,005385,KOSPI,현대차우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7253,008775,KOSPI,호텔신라우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7302,000545,KOSPI,흥국화재우,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [77]:
# 기업만 추출
Enterprise = stocks.dropna(subset=['Sector'])
Enterprise

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
7299,189980,KOSDAQ,흥국에프엔비,비알코올음료 및 얼음 제조업,"과일음료(에이드베이스, 스무디, 착즙쥬스 등)",2015-08-07,12월,"박철범, 오길영",http://www.hyungkuk.com,서울특별시
7300,000540,KOSPI,흥국화재,보험업,손해보험,1974-12-05,12월,임규준,http://www.insurance.co.kr,서울특별시
7303,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
7304,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호 (각자대표)",http://www.heerim.com,서울특별시
7306,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [80]:
Enterprise = Enterprise[['Symbol','Name','Market']]
Enterprise

      Symbol    Name  Market
0     060310      3S  KOSDAQ
1     095570  AJ네트웍스   KOSPI
2     006840   AK홀딩스   KOSPI
3     054620  APS홀딩스  KOSDAQ
4     265520   AP시스템  KOSDAQ
...      ...     ...     ...
7299  189980  흥국에프엔비  KOSDAQ
7300  000540    흥국화재   KOSPI
7303  003280    흥아해운   KOSPI
7304  037440      희림  KOSDAQ
7306  238490      힘스  KOSDAQ

[2500 rows x 3 columns]

In [81]:
prefer = prefer[['Symbol','Name','Market']]
prefer

      Symbol      Name Market
57    001465      BYC우  KOSPI
66    011155   CJ씨푸드1우  KOSPI
67    001045       CJ우  KOSPI
69    097955  CJ제일제당 우  KOSPI
84    000995   DB하이텍1우  KOSPI
...      ...       ...    ...
7203  000725     현대건설우  KOSPI
7218  004565  현대비앤지스틸우  KOSPI
7238  005385      현대차우  KOSPI
7253  008775     호텔신라우  KOSPI
7302  000545     흥국화재우  KOSPI

[102 rows x 3 columns]

In [95]:
stock_list = pd.concat([Enterprise, prefer])
stock_list = stock_list.reset_index().drop('index', axis=1)
stock_list.to_csv('stock_list.csv', encoding='utf-8-sig')

# 종목별 전체 주가 데이터(상장 + 폐지)

In [97]:
for code in stock_list['Symbol']:
    data = fdr.DataReader(code)
    data = data.reset_index() 
    data['Date'] = data['Date'].apply(lambda x : datetime.strftime(x, '%Y-%m-%d'))
    data.to_csv('prices/' + code + '.csv', encoding='utf-8-sig')